.barre_noire {
       padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    position: absolute;
    width: 1000px;
    height: 32px;
    line-height: 32px;
    top: 6px;
    left: 6px;
    font-style: normal;
    text-decoration: none;
    font-size: 12px;
    color: rgb(255, 255, 255);
	width:100%;
	height: 30px;
	background-color: #444;
}

.espace {
	color:white;
	width:200px;
}

hr {
  border: 0;
  width: 100%;
  color:black;
}

.aligner
{
	display:inline-block;
}